{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
  <div class="col-lg-6">
    <h1>{{run1.description}}</h1>      
    
    <div class="list-group">
      <a  class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between ">
          <h5 class="mb-1">columns:</h5>
        </div>
        <p class="mb-1">{{run1.columns}}</p>
      </a>
    </div>
    
    <pre>
      {{run1.run_result}}
    </pre>


    
  </div>
  <div class="col-lg-6">
    <h1>{{run2.description}}</h1>      
    
    <div class="list-group">
      <a  class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between ">
          <h5 class="mb-1">columns:</h5>
        </div>
        <p class="mb-1">{{run2.columns}}</p>
      </a>
    </div>
    
    <pre>
      {{run2.run_result}}
    </pre>


    
  </div>
</div>

{% endblock %}
