{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">
      <!-- table -->

      <div class="row table-responsive text-nowrap ">
        <table class="table table-hover table-striped table-bordered table-hover model-list">
          <thead class="thead-dark">
            <tr>
              {% for i in column_range %}
              <th scope="col">{{columns[i]}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in table %}
            <tr>
              {% for i in column_range %}
              <td>{{row['columns'][i]}}</td>          
              {% endfor %}
            </tr>        
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>


<div class="row">
  
  <div class="col-lg-6">
    <h1>{{run1.description}}</h1>      
    <pre class="result-pre">
      {{run1.run_result}}
    </pre>

    {% for image in run1_images%}
    <img src="{{ image.imgsrc }}" class="img-responsive" alt="image"  >
    {% endfor %}
    
  </div>
  
  <div class="col-lg-6">
    <h1>{{run2.description}}</h1>      
    <pre class="result-pre">
      {{run2.run_result}}
    </pre>

    {% for image in run2_images%}
    <img src="{{ image.imgsrc }}" class="img-responsive" alt="image" >
    {% endfor %}
    
  </div>

  
</div>

{% endblock %}
