{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}



  <div class="row">
    <div class="col-sm-3">
      {% include '_experiments.html' %}      
    </div>
      
      <!-- Add new run form -->
      {% if form%}

    <div class="col-lg-7">

      <!-- setting -->
      <div class="container">
        <div class="row">
          <a href="{{ url_for('experiment_settings',experiment_id=experiment_id) }}">
              <span class="glyphicon glyphicon-pencil"></span> Settings
          </a>
        </div>
      </div>


      
</br>


      
      <div class="list-group">
        <li class="list-group-item list-group-item-action ">{{ wtf.quick_form(form,form_type="",horizontal_columns=('sm', 1, 1)) }}</li>
      </div>
      {% endif %}

      {% if runs %}
      {% for run in runs %}
      {% include '_run.html' %}
      {% endfor %}
      {% endif %}


    </div>
  </div>
  
{% endblock %}
