{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

  <div class="row">
    <div class="col-sm-3">

      <ul class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-dark">
          <h3>
              <div class "container">
                <div class="row">
                  <div class="col-xs-1">
                    <input type="checkbox"/>                    
                  </div>
                  <div class="col-sm-10">
                    Experiments
                  </div>
                </div>
              </div>
          </h3>

          
        </a>
            {% for experiment in experiments %}
            {% if experiment.id == experiment_id %}
            <a href="{{ url_for('experiment',experiment_id=experiment.id) }}" class="list-group-item list-group-item-action active">
            {% else %}
            <a href="{{ url_for('experiment',experiment_id=experiment.id) }}" class="list-group-item list-group-item-action">
            {% endif %}

              <div class "container">
                <div class="row">
                  <div class="col-xs-1">
                    <input type="checkbox"/>                    
                  </div>
                  <div class="col-sm-10">
                    {{experiment.description}}                    
                  </div>
                </div>
              </div>
            </a>        
            {% endfor %}
        <li class="list-group-item list-group-item-action ">      {{ wtf.quick_form(add_experiment_form, action=url_for('add_experiment'))}}</li>
      </ul>
      
    </div>
    
    <div class="col-lg-7">

      <!-- Add new run form -->
      {% if form%}
      <div class="list-group">
        <li class="list-group-item list-group-item-action ">{{ wtf.quick_form(form,form_type="",horizontal_columns=('sm', 1, 1)) }}</li>
      </div>
      {% endif %}

      {% if runs %}
      {% for run in runs %}
      {% include '_run.html' %}
      {% endfor %}
      {% endif %}


    </div>
  </div>
  
{% endblock %}
