{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}



<div class="row">
  <div class="col-sm-3">
    {% include '_experiments.html' %}      
  </div>
  
  
  <div class="col-lg-9">
    {% include '_run.html' %}

    
    <div class="list-group">
      <li class="list-group-item list-group-item-action ">
        {% include '_runform.html' %}              
      </li>
    </div>



    
  </div>
</div>


<div class="row">
  {% for image in images%}
  <a href="{{ image.imgsrc }}">
    <img src="{{ image.imgsrc }}" class="img-responsive" alt="image">
  </a>

    {% endfor %}
</div>

{% endblock %}
